# LÀM SẠCH DỮ LIỆU CƠ BẢN

In [1]:
import pandas as pd
import numpy as np

In [11]:
column_names = ["ID", "Name", "Age", "Weight", "m0006", "m0612", "m1218", "f0006", "f0612", "f1218"]
df = pd.read_csv("patient_heart_rate.csv", names=column_names)
print(df.head())

    ID            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

In [13]:
df[['Firstname', 'Lastname']] = df['Name'].str.split(expand=True)
df = df.drop('Name', axis=1)
print(df)

      ID   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
10   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  14.0   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever
16  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10   McDuck
11   McDuck
12      Nam
13     Long
14    Ricky
15     None
16      NaN

In [17]:
weight = df['Weight']

for i in range(len(weight)):
    x = str(weight[i])
    if "lbs" in x[-3:]:
        x = x[:-3]  
        float_x = float(x) 
        y = round(float_x / 2.2, 2)  
        df.loc[i, 'Weight'] = y  

print(df)

      ID   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [18]:
df.dropna(how="all", inplace=True)
print(df)

      ID   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [20]:
df = df.drop_duplicates(subset=['Firstname', 'Lastname', 'Age', 'Weight'])
print(df)

      ID   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [21]:
df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
print(df)

      ID   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

C:\Users\Admin\AppData\Local\Temp\ipykernel_8560\3758458077.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_8560\3758458077.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_8560\3758458077.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_8560\3758458077.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

In [22]:
missing_values = df[['Age', 'Weight']].isnull().sum()
print("Missing values:\n", missing_values)

mean_age = df['Age'].mean()
df['Age'].fillna(mean_age, inplace=True)

df.dropna(subset=['Age', 'Weight'], how='all', inplace=True)
print(df)

Missing values:
 Age       4
Weight    4
dtype: int64
      ID   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0  36.1  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0  36.1  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0  36.1    NaN     -     -     -    68    72    70      Tana    Ricky
15  14.0  36.1    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

C:\Users\Admin\AppData\Local\Temp\ipykernel_8560\2226346419.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(mean_age, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_8560\2226346419.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'].fillna(mean_age, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_8560\2226346419.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['Age', 'Weight'], how='all', inplace=True)

In [ ]:
df_melted = df.melt(id_vars=['ID', 'Age', 'Weight', 'Firstname', 'Lastname'], 
                     var_name='Original_Column', 
                     value_name='PulseRate')

df_melted['Sex'] = df_melted['Original_Column'].str[0]  
df_melted['Time'] = df_melted['Original_Column'].str[1:]  

df_melted.drop(columns=['Original_Column'], inplace=True)

df_melted.dropna(subset=['PulseRate'], inplace=True)

print(df_melted)

      ID   Age Weight Firstname Lastname PulseRate Sex  Time
0    1.0  56.0  70kgs     Micky     Mous        72   m  0006
1    2.0  34.0  70kgs    Donald     Duck         -   m  0006
2    3.0  16.0    NaN      Mini    Mouse         -   m  0006
3    4.0  36.1  78kgs   Scrooge   McDuck        78   m  0006
4    5.0  54.0  90kgs      Pink  Panther         -   m  0006
..   ...   ...    ...       ...      ...       ...  ..   ...
78  10.0  12.0  45kgs     Louie   McDuck        87   f  1218
79  11.0  36.1  60kgs     Henry      Nam         -   f  1218
80  12.0  34.0    NaN    Michel     Long         -   f  1218
81  13.0  36.1    NaN      Tana    Ricky        70   f  1218
83  15.0  52.0  81kgs       NaN      NaN        72   f  1218

[77 rows x 8 columns]

In [ ]:
missing_pulserate = df_melted['PulseRate'].isna().sum()
total_rows = len(df_melted)
missing_percentage = (missing_pulserate / total_rows) * 100
print(f"Tổng số giá trị bị thiếu: {missing_pulserate}")
print(f"Tỷ lệ thiếu: {missing_percentage:.2f}%")

df_melted['PulseRate'] = pd.to_numeric(df_melted['PulseRate'], errors='coerce')

def fill_missing_pulse(group):
    group = group.copy()  
    group.fillna((group.bfill() + group.ffill()) / 2, inplace=True)
    group.fillna(group.shift(1).rolling(2).mean(), inplace=True)
    group.fillna(group.shift(-1).rolling(2).mean(), inplace=True)
    group.fillna(group.mean(), inplace=True)
    return group

df_melted['PulseRate'] = df_melted.groupby('ID')['PulseRate'].transform(fill_missing_pulse)
df_melted['PulseRate'] = df_melted.groupby('Sex')['PulseRate'].transform(lambda group: group.fillna(group.mean()))
df_melted['PulseRate'].fillna(df_melted['PulseRate'].mean(), inplace=True)
df_melted['PulseRate'].fillna(75, inplace=True)

print(df_melted)

Tổng số giá trị bị thiếu: 39
Tỷ lệ thiếu: 50.65%
      ID   Age Weight Firstname Lastname  PulseRate Sex  Time
0    1.0  56.0  70kgs     Micky     Mous  72.000000   m  0006
1    2.0  34.0  70kgs    Donald     Duck  81.666667   m  0006
2    3.0  16.0    NaN      Mini    Mouse  68.666667   m  0006
3    4.0  36.1  78kgs   Scrooge   McDuck  78.000000   m  0006
4    5.0  54.0  90kgs      Pink  Panther  72.000000   m  0006
..   ...   ...    ...       ...      ...        ...  ..   ...
78  10.0  12.0  45kgs     Louie   McDuck  87.000000   f  1218
79  11.0  36.1  60kgs     Henry      Nam  74.625000   f  1218
80  12.0  34.0    NaN    Michel     Long  62.000000   f  1218
81  13.0  36.1    NaN      Tana    Ricky  70.000000   f  1218
83  15.0  52.0  81kgs       NaN      NaN  72.000000   f  1218

[77 rows x 8 columns]

C:\Users\Admin\AppData\Local\Temp\ipykernel_8560\4140435356.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_melted['PulseRate'].fillna(df_melted['PulseRate'].mean(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_8560\4140435356.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_melted['PulseRate'].fillna(75, inplace=True)

In [ ]:
threshold = df_melted.shape[1] // 2 
df_melted.dropna(thresh=threshold, inplace=True)
df_melted.reset_index(drop=True, inplace=True)
df_melted.to_csv("patient_heart_rate_clean.csv", index=False, encoding="utf-8")

print("Dữ liệu đã xử lý được lưu thành công vào 'patient_heart_rate_clean.csv'")

Dữ liệu đã xử lý được lưu thành công vào 'patient_heart_rate_clean.csv'