# BÀI THỰC HÀNH THAO TÁC DỮ LIỆU

In [1]:
import pandas as pd
import numpy as np

In [3]:
# 1. Tải dữ liệu lên
file_path = 'dulieuxettuyendaihoc.csv'
df = pd.read_csv(file_path)

In [ ]:
# 2. Phân loại dữ liệu
qualitative_vars = ['GT', 'DT', 'KV', 'KT']  
quantitative_vars = [col for col in df.columns if col not in qualitative_vars]

In [5]:
# 3. Hiển thị 10 dòng đầu và 10 dòng cuối
display(df.head(10))
display(df.tail(10))

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A
5,6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,...,5.7,8.0,7.8,M,NaN,1,1.50,4.00,6.00,D1
6,7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,...,6.6,6.0,6.0,F,NaN,2,6.50,6.75,5.25,C
7,8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,...,7.1,6.8,7.0,F,NaN,2,3.75,4.50,4.25,D1
8,9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,...,9.1,7.9,6.1,F,NaN,1,3.50,3.50,6.75,D1
9,10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,...,6.4,6.1,7.8,F,NaN,1,4.00,4.75,5.50,D1

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
90,91,8.1,7.7,9.1,8.5,6.1,8.6,8.8,7.3,8.8,...,8.3,8.7,7.8,M,NaN,2,6.25,4.00,6.50,A
91,92,7.8,6.5,6.7,5.4,6.2,4.8,5.9,4.4,8.9,...,7.2,7.4,7.0,M,NaN,2NT,4.75,4.75,4.50,A
92,93,5.0,6.6,6.5,7.2,5.8,6.7,6.4,6.0,6.8,...,5.9,6.7,5.8,M,NaN,1,3.25,5.25,4.25,A
93,94,5.2,5.2,6.8,7.9,6.6,8.9,7.6,5.3,6.8,...,8.7,7.8,5.0,M,NaN,1,3.50,4.25,5.00,A
94,95,5.8,5.9,7.6,6.1,5.3,8.1,6.1,5.0,6.4,...,7.3,6.8,5.3,M,NaN,1,4.25,2.50,4.75,A
95,96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,...,6.3,6.1,6.2,F,NaN,1,5.25,1.50,6.25,C
96,97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,...,7.9,7.5,4.4,F,NaN,1,5.25,3.75,4.75,C
97,98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,6.6,5.2,5.9,M,NaN,1,5.00,3.50,5.50,C
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.50,4.25,C

In [6]:
# 4. Kiểm tra và xử lý dữ liệu thiếu cho cột DT
df['DT'].fillna(0, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_3252\3896957199.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['DT'].fillna(0, inplace=True)

In [7]:
# 5. Kiểm tra và xử lý dữ liệu thiếu cho cột T1
mean_T1 = df['T1'].mean()
df['T1'].fillna(mean_T1, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_3252\748343638.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['T1'].fillna(mean_T1, inplace=True)

In [8]:
# 6. Xử lý dữ liệu thiếu cho các cột điểm số còn lại
score_cols = [col for col in df.columns if col.startswith(('T', 'L', 'H', 'S', 'V', 'X', 'D', 'N', 'DH'))]
df[score_cols] = df[score_cols].apply(lambda x: x.fillna(x.mean()))

In [9]:
# 7. Tạo biến TBM1, TBM2, TBM3
def calculate_tbm(row, t, l, h, s, v, x, d, n):
    return (row[t]*2 + row[l] + row[h] + row[s] + row[v]*2 + row[x] + row[d] + row[n]) / 10

df['TBM1'] = df.apply(calculate_tbm, axis=1, args=('T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1'))
df['TBM2'] = df.apply(calculate_tbm, axis=1, args=('T2', 'L2', 'H2', 'S2', 'V2', 'X2', 'D2', 'N2'))
df['TBM3'] = df.apply(calculate_tbm, axis=1, args=('T6', 'L6', 'H6', 'S6', 'V6', 'X6', 'D6', 'N6'))

In [10]:
# 8. Tạo biến xếp loại
bins = [0, 5, 6.5, 8, 9, 10]
labels = ['Y', 'TB', 'K', 'G', 'XS']
df['XL1'] = pd.cut(df['TBM1'], bins=bins, labels=labels, right=False)
df['XL2'] = pd.cut(df['TBM2'], bins=bins, labels=labels, right=False)
df['XL3'] = pd.cut(df['TBM3'], bins=bins, labels=labels, right=False)

In [11]:
# 9. Chuyển đổi điểm sang thang điểm 4 (Min-Max Normalization)
def min_max_scaling(col):
    return (col - col.min()) / (col.max() - col.min()) * 4

df['US_TBM1'] = min_max_scaling(df['TBM1'])
df['US_TBM2'] = min_max_scaling(df['TBM2'])
df['US_TBM3'] = min_max_scaling(df['TBM3'])

In [12]:
# 10. Tạo biến KQXT
def determine_result(row):
    if row['KT'] in ['A', 'A1']:
        return 1 if (row['DH1']*2 + row['DH2'] + row['DH3']) / 4 >= 5 else 0
    elif row['KT'] == 'B':
        return 1 if (row['DH1'] + row['DH2']*2 + row['DH3']) / 4 >= 5 else 0
    else:
        return 1 if (row['DH1'] + row['DH2'] + row['DH3']) / 3 >= 5 else 0

df['KQXT'] = df.apply(determine_result, axis=1)

In [13]:
# 11. Lưu trữ dữ liệu xuống file mới
df.to_csv('processed_dulieuxettuyendaihoc.csv', index=False)